body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url(assets/roscoe.png);
    background-size: 100%;

}


#FormAdocao {
    display: grid;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.600);

    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1%;
    margin: 10px;
    gap: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}